[submodule "07_sistemas/central-de-processos---nardelly-nrv8tctxd"]
	path = 07_sistemas/central-de-processos---nardelly-nrv8tctxd
	url = https://github.com/nardelly-adv/central-de-processos---nardelly-nrv8tctxd
